* {
    margin: 4px;
    padding: 0px;
}

.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
}

.top-nav{
    height: 150px;
    background-color: green;
}

.side-nav{
    height: 300px;
    width: 200px;
    background-color: blue;
    /* display: inline-block; */ /* removed this line of code and applied display:flex to the parent div */
    /* vertical-align: top; */
}

.main{
    height: 400px;
    width: 700px;
    background-color: red;
    /* display: inline-block; */ /* removed this line of code and applied display:flex to the parent div */
    padding: 15px;
}

.sub-content{
    height: 200px;
    width: 210px;
    background-color: yellow;
    /* display: inline-block; */ /* removed this line of code and applied display:flex to the parent div */
}

#advertisement{
    height: 120px;
    width: 660px;
    background-color: purple;
}

.row{
    display: flex;
}